.Icon_hover {
  padding: 3px;
  border-radius: 50%;
  color: #8f8f8f;
}

.Icon_hover:hover {
  color: var(--blue-color);
  background-color: var(--primary-light);
}
.fa-spin {
  font-size: 1.3rem;
}
@media screen and (max-width: 600px) {
  .fa-spin {
    font-size: 1.3rem;
    display: none;
  }
}
