@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100%;
    background-image: url(./hero_1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-family: 'Roboto', sans-serif;
}
   

.container{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    gap: 2rem;
    margin-top: 1rem;
}
form {
    justify-content: center;
    display: flex;
    margin-top: 2rem;
    height: 90vh;
}
h1{
    color:#fff ;
}
.title{
text-align: center;

}


.ul-container{
    margin-left:-35rem;
    left: 0;
    top: 0;
    z-index: -1;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border-bottom: none;
    text-decoration: none;
}

.nav-item{
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    text-decoration: none;
}
.pass-forget{
    display: flex;
    margin-top: 2rem;
    gap: 5rem;
}
.register{
    font-size: 19px;
    color: #34b7f1;
    transition: all .3s ease-in-out;
    cursor: pointer;
}
.lost-password{
    font-size: 19px;
    color: #34b7f1;
    transition: all .3s ease-in-out;
    cursor: pointer;
}
.register:hover{
    color: rgb(11, 171, 219);
}

.item-container{
border: 1px solid #fff;
background: #fff;
padding-bottom: 4rem;
    padding-top: 2rem;
width: 35%;
height: 100%;
margin-left: 1rem;
padding-left: 4rem;
border-radius: 0px 20px 20px;
}
.input-container{
    display: flex;
    flex-direction: column;
    gap: 1rem;
   
}

input[type="text"] {
    margin-top: 2rem;
    width: 284px;
    border: 1pc solid transparent;
    border-bottom: 1px solid #eaeaea;
    padding: 6px 1px;
    height: 50px;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
}
input[type="password"] {
  
    width: 284px;
    border: 1pc solid transparent;
    border-bottom: 1px solid #eaeaea;
    padding: 6px 1px;
    height: 50px;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
}

h2{
    font-size: 24px;
    margin-bottom: 30px;
    position: relative;
    padding-bottom: 20px;
    margin-top: 2rem;
}
h2::before{
    content: "";
    height: 3px;
    width: 8px;
    background-color: #2d5be3;
    border-radius: 4px;
    position: absolute;
    left: 0;
    bottom: 0;
}

h2::after{
    content: "";
    height: 3px;
    width: 18px;
    background-color: #2d5be3;
    border-radius: 4px;
    position: absolute;
    left: 10px;
    bottom: 0;
}
button.btn {
    margin-top: 2rem;
    border: 1px solid transparent;
    width: 7rem;
    padding: 14px 19px;
        background-color: #2d5be3;
        box-shadow: 0 10px 18px 0 rgba(0,0,0,.17);
        color: #fff;
        border-radius: 5px 5px;
        font-weight: bolder;
        cursor: pointer;
        transition: all .3s ease-in-out;
    }

button.btn:hover{
    background-color: #34b7f1;
}

input[type="checkbox"] {
    margin-left: -8rem;
    border: 2px solid #b1b0b0;
}
.pass-forget:hover{
    color: rgb(11, 171, 219);
}
label{
    margin-top: 2rem;
    margin-left: 2rem;
    color: #646464;
    font-size: 14px;
}


