.GroupContent {
  width: 100%;
  padding: 2vh 0;
  height: 60vh;
  border: 1px solid;
  border-radius: 1rem;
  border: none;
  box-shadow: 0 0.5px 5px #ccc;
}
.GroupContent__title {
  border: 1px solid transparent;
  border-bottom: 0.2px solid #ccc;
  padding: 1vh 1vw;
  font-size: 0.8rem;
  color: var(--primary-color);
}
