@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;700;900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  font-family: "Poppins", sans-serif;
}
:root {
  --primary-color: #00d9ff;
  --primary-light: #c8e7ec;
  --secondary-color: #00a2ff;
  --blue-color: #6969f1;
  --white: #fff;
  --black: #000;
}

body {
  background-color: #eee;
}
