@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;700;900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  font-family: "Poppins", sans-serif;
}
:root {
  --primary-color: rgb(0, 217, 255);
  --secondary-color: rgb(0, 162, 255);
  --white: #fff;
}

body {
  background-color: #eee;
}
